body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header {
    background-color: #EAC926;
    padding: 5px;
}

main {
    background-color: grey;
    margin: auto;
    padding: 10px;
    width: 90%;
    text-align: center;
}

section {
    padding: 5px;
}

article {
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    text-align: left;
}

footer {
    background-color: #ebebeb;
    text-align: center;
}

.burger-menu {
    width: 20px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}

.imagen {
    width: 100%;
    height: auto;
}

.info {
    text-align: left;
    padding: 10px;
    border-top: #ebebeb 3px solid;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripcion {
    display: none;
}

.fa-bars {
    background-color: #1259c3;;
    color: #FFFFFF;;
    font-size: 30px;
    padding: 8px;
}

.fa-credit-card {
    font-size: 45px;
    color: #1259c3;;
}

.fa-gift {
    font-size: 45px;
    color: #1259c3;;
}

.fa-user-lock {
    font-size: 45px;
    color: #1259c3;;
}

@media (min-width: 361px) {
    .descripcion {
        padding: 10px;
        display: block;
    }

    .burger-menu {
        display: block;
    }

    main {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px) {
    
}

