* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header {
    background-color: #EAC926;
    padding: 5px;
    display: flex;
}

main {
    background-color: grey;
    margin: auto;
    padding: 10px;
    width: 90%;
    /* text-align: center; */
}

section {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

article {
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    color: #39b54a;
    position: absolute;
    margin-top: -14px;
}

footer {
    background-color: #ebebeb;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    text-align: left;
}

.burger-menu {
    width: 20px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    display: block;
}

.imagen {
    width: 100%;
    height: auto;
}

.info {
    text-align: left;
    padding: 10px;
    border-top: #ebebeb 3px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.precios {
    font-size: 18px;
    flex-grow: 0.3;
}

.descuentos {
    font-size: 16px;
    flex-grow: 0.7;
    color: #39b54a;
}

.descripcion {
    display: none;
}

.fa-bars {
    background-color: #1259c3;;
    color: #FFFFFF;;
    font-size: 30px;
    padding: 8px;
}

.fa-credit-card {
    font-size: 45px;
    color: #1259c3;;
}

.fa-gift {
    font-size: 45px;
    color: #1259c3;;
}

.fa-user-lock {
    font-size: 45px;
    color: #1259c3;;
}

@media (min-width: 361px) {
    .descripcion {
        padding: 10px;
        display: block;
    }

    main {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px) {
    
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article {
        max-width: 48%;
    }

    .burger-menu {
        display: none;
    }


}

